body {
    font-family: sans-serif;
    color: black;
    background: white;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    font-size: 34px;
}

.text{
    color: white;
}

.area{
    height: 700px;
}

section:not(#sectionPin){
    min-height: 100vh;
    width: 100%;
}

img{
    height: 50vh;
    width: auto;
    object-fit: cover;
}

#sectionPin{
    height: 100vh;
    overflow: hidden;
    background: black;
    color: white;
    left: 0;
    display: flex;
}

.pin-wrap{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;
}

.pin-wrap > *{
  min-width: 60vw;
  padding: 0 5vw;
}

.pin-wrap h2{
    font-size: 36px;
}