body {
    font-family: sans-serif;
    color: black;
    background: white;
    transition: 0.3s ease-out;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    
}

/*background video*/

section{
    width: 100%;
    height: 100vh;
    position: relative;
}
section div.bg-sc{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

section div.bg-sc video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section div.box{
    width: 50%;
    position: relative;
    z-index: 1;
}


/* Animação scroll */

.main{
    height: 100vh;
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    font-size: 124px;
    z-index: 1;
    font-family:  'Arial Narrow Bold', sans-serif;
}

.text{
    margin-top: -80px;
    font-size: 44px;
    color: rgb(245, 239, 239);
    font-family: 'open sans' sans-serif;
    z-index: 1;
}

.text1{
    text-align: center;
    width: 550px;
    padding: 20px 20px;
    font-size: 24px;
    color: rgb(230, 207, 3);
    z-index: 1;
}


/*icones*/
button{
    background-color: rgba(5, 5, 5, 0);
    border-radius: 50%;
    border: 0;
    padding: 10px 10px;
}

i{
    text-decoration: none;
    color: rgb(241, 243, 244);
    cursor: pointer;
    font-size: 40px;
    display: inline-block;/* Necessário para que o transform funcione corretamente */
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s ease;
    will-change: transform; /* Prepara o navegador para a animação */
    
}